pkgbase = sonic-silver-theme
	pkgdesc = Highly customizable binary Window Decoration, Application Style and Global Theme plugin for the Sonic Desktop.
	pkgver = 6.5.1
	pkgrel = 2
	url = https://github.com/Sonic-DE/silver-theme
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = breeze-icons
	depends = hicolor-icon-theme
	depends = frameworkintegration
	depends = gcc-libs
	depends = glibc
	depends = kcmutils
	depends = kcolorscheme
	depends = kconfig
	depends = kcoreaddons
	depends = kdecoration
	depends = kguiaddons
	depends = ki18n
	depends = kiconthemes
	depends = kirigami
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = xdg-utils
	source = silver-theme-6.5.1.tar.gz::https://github.com/Sonic-DE/silver-theme/archive/refs/tags/6.5.1.tar.gz
	sha256sums = c99c93f5e80fdc02c5de7922eeeef395b5bb7ff83d585686f5ad30bd953c94e4

pkgname = sonic-silver-theme
