pkgbase = sonic-silver-theme
	pkgdesc = Highly customizable binary Window Decoration, Application Style and Global Theme plugin for SonicDE.
	pkgver = 6.6.0
	pkgrel = 3
	url = https://github.com/Sonic-DE/silver-theme
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = breeze-icons
	depends = frameworkintegration
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = kcmutils
	depends = kcolorscheme
	depends = kconfig
	depends = ki18n
	depends = kiconthemes
	depends = kwidgetsaddons
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = sonic-decoration
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-windowsystem
	depends = xdg-utils
	source = sonic-silver-theme-6.6.0.tar.gz::https://github.com/Sonic-DE/silver-theme/archive/refs/tags/6.6.0.tar.gz
	sha256sums = 152eb85645a19180f28b695a7dcb6f429cbe40c3f8d7dec0d95a225405f70261

pkgname = sonic-silver-theme
